

$page_color:#E0E0E0;
$text_color: #151515;
$text_white:#E0E0E0;

// media query 
$maxMobile: "(max-width: 600px)";

$Mobile: "(min-width: 620px)";
$minSmall: "(min-width: 768px)";
$minMediaum: "(min-width: 992px)";
$minLarge: "(min-width: 1200px)";

